sudo: required
language: rust
rust:
  - nightly

os:
  - linux
  - osx
  - windows

env: RELEASE=false

matrix:
  include:
  - os: linux
    env: BUILD_ANDROID=true RELEASE=false
# allow_failures:
# - env: BUILD_ANDROID=true RELEASE=false


before_install:
  - cargo install cargo-prune --force
  - if [ "$BUILD_ANDROID" == true ]; then
      ./install-ndk.sh;
      export ANDROID_NDK_HOME=`pwd`/NDK;
    fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ] && [ "$BUILD_ANDROID" != "true" ]; then
        echo "Installing coverage tools";
        cargo install --force cargo-kcov;
        cargo kcov --print-install-kcov-sh | sh;
    fi

install:
  - if [ "$BUILD_ANDROID" == true ]; then
        ./compile-android.sh;
    else
        cargo build --workspace $($RELEASE && echo '--release');
    fi

before_script:
  - |
    if [ "$TRAVIS_OS_NAME" = "windows" ]; then  # Needed because otherwise the Windows build fails when a later build step tries to overwrite the file
        cargo build -p aw-server --bin aw-server $($RELEASE && echo '--release');
        mv target/*/aw-server.exe target/aw-server-copy.exe;
        env RUST_BACKTRACE=1 ./target/aw-server-copy.exe &
        SERVER_PID=$!;
    else
        env RUST_BACKTRACE=1 cargo run --bin aw-server $($RELEASE && echo '--release') &
        SERVER_PID=$!;
    fi

script:
  - if [ "$TRAVIS_OS_NAME" = "linux" ] && [ "$BUILD_ANDROID" != "true" ]; then
        echo "Running tests with coverage";
        cargo kcov --all --verbose $($RELEASE && echo '--release');
        bash <(curl -s https://codecov.io/bash);
    else
        cargo test --workspace --verbose $($RELEASE && echo '--release');
    fi

after_script:
  - kill $SERVER_PID

before_cache:
  - cargo prune
  - rm -rf ./target

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev

cache:
  cargo: true
  apt: true
  directories:
    - target/debug/deps
    - target/debug/build

after_success:
